<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="color: white">Проект</span>
  <div class="spacer">
    <a class="lk" href="../doctors">Врачи</a>
    <a class="lk" href="../journal">Журнал</a>
    <a class="lk" href="../position" >Должность</a>
    <a class="lk" href="../name">Вид услуги</a>
    <a class="lk" href="../patients">Пациенты</a>
    <a class="lk" href="../services">ZZZ</a>
    <a class="lk" href="../shedule">Время приёма</a>

  </div>

</div>

<div class="content" role="main">
  <router-outlet></router-outlet>

  <footer>


  </footer>

</div>
